apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
# kubernetes版本
kubernetesVersion: v1.19.6
# 使用国内阿里镜像
imageRepository: registry.cn-hangzhou.aliyuncs.com/google_containers

apiServer:
  certSANs:
  - "高可用地址或者单master地址"
controlPlaneEndpoint: "高可用地址或者单master地址:6443"

networking:
  podSubnet: 10.244.0.0/16
